.review-form-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px; /* Add padding below the form */
  padding-top: 40px;
}

.review-form-section form {
  width: 100%;
  max-width: 500px; /* Adjust as needed */
}

.review-form-section label,
.review-form-section input,
.review-form-section select,
.review-form-section textarea,
.review-form-section button {
  display: block;
  width: 100%;
  margin: 10px 0;
  text-align: center; /* Center the content */
}

.review-form-section input,
.review-form-section select,
.review-form-section textarea,
.review-form-section button {
  text-align: left; /* Ensure input fields have left-aligned text */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.review-form-section button {
  cursor: pointer;
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  text-align: center; /* Center the text in the button */
  display: inline-block; /* Ensure the button behaves like an inline element for text centering */
  width: auto; /* Let the width adjust to the content */
}

.review-form-section button:hover {
  background-color: #0056b3;
}
