@font-face {
  font-family: 'Italianate';
  src: url('../fonts/Italianate.ttf') format('truetype');
}

@font-face {
  font-family: 'Cascadia Code';
  src: url('../fonts/CascadiaCode.ttf') format('truetype');
}


/* General Styles */
body {
  font-family: "Arial", sans-serif; /* Use the same font as your logo if possible */
  text-align: center;
  margin: 0;
  padding: 0;
}

/* Header Image Container */
.image-container {
  text-align: center;
}

.image-container .header {
  max-width: 100%;
  max-height: 230px;
  height: auto;
  display: inline-block;
}

.subheader {
  max-width: 100%;
  max-height: 40px;
  height: auto;
  display: inline-block;
  padding-top: 10px;
  padding-bottom: 10px;
}

/* Navigation Menu */
nav {
  background-color: #000000;
  padding: 10px 0;
  font-weight: 400;
  font-family: 'Cascadia Code', monospace;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 0 15px;
}

nav ul li a {
  color: #ffffff;
  text-decoration: none;
  font-size: 30px;
}

nav ul li a.active,
nav ul li a:hover {
  color: lightgrey;
}

/* Main Content */
main {
  padding: 10px;
  background-image: url('../images/background.png'); /* Replace with your image path */
  background-size: cover; /* Ensures the image covers the entire element */
  background-position: center; /* Centers the image */
  background-repeat:no-repeat; /* Prevents the image from repeating */
  height: 100%; /* Sets the height to 100% of the viewport height */
  width: 100%;
}

.opaque-wrapper {
  margin: 0 auto;
  backdrop-filter: blur(6px); /* Adjust the blur amount as needed */
  background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.8)); 
  max-width: 800px;
}

section.about-us {
  margin: 0 auto;
  max-width: 800px;
}

section.about-us h1 {
  font-size: 31px;
  font-family: 'Cascadia Code', monospace;
  margin: 2px;
}

section.about-us h2 {
  font-size: 28px;
  margin-top: 5px;
  margin-bottom: 10px;
  font-family: 'Cascadia Code', monospace;
}

section.about-us p {
  font-size: 19px;
  line-height: 1.6;
  margin-bottom: 20px;
}

section.about-us ul {
  list-style-type: none;
  padding: 0;
}

section.about-us ul li {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 10px;
}

/* Team Member Styles */
.team-members {
  display: flex;
  justify-content: center;
  gap: 40px; /* Adjust the gap as needed */
  margin-top: 20px;
  flex-wrap: wrap;
  flex-direction: row;
}

.team-member {
  max-width: 200px;
  text-align: center;
  flex: 1;
}

.team-member img.team-img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.team-member h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.team-member p {
  font-size: 16px;
  margin-bottom: 10px;
}


.bottomSpacer {
  padding-bottom: 35px;
}
/* Footer */
footer {
  background-color: #000000;
  color: #ffffff;
  padding: 10px 0;
  position: fixed;
  width: 100%;
  bottom: 0;
}

footer p {
  margin: 0;
  font-size: 14px;
}
